<?xml version="1.0" encoding="utf-8"?>
<manifest
    xmlns:android="http://schemas.android.com/apk/res/android"
    package="fp3.wallpapers">

    <application
        android:label="FP3 Wallpapers">

        <receiver
            android:name="CustomizationReceiver"
            android:exported="true">

            <intent-filter>

                <action
                    android:name="com.android.launcher3.action.PARTNER_CUSTOMIZATION" />
            </intent-filter>
        </receiver>
    </application>
</manifest>
